$navHeight: 10vh;
$text: #E4E6EB;
$secondaryText: #B0B3B8;
$darkText: #5d615e;
$lightText: #a5a6a8;
$background: #18191A;
$lighBackground: #242526;
$lighterBackground: #3A3B3C;
$tint: intColorDar;
$tabIconDefault: #ccc;

$primaryColor: #1a80ed;
$primaryColorLight: #82b6ed;
$secondaryColor: #ff8308;